apiVersion: apps/v1
kind: Deployment
metadata:
  name: test
spec:
  replicas: 1
  selector:
    matchLabels:
      apps: test
  template:
    metadata:
      labels:
        apps: test
    spec:
      containers:
        - name: app
          image: nginx
